// Colors
$bg-color: #212121 !default;
$fg-color: #dadada !default;
$alt-bg-color: #424242 !default;
$alt-fg-color: #dadada !default;
$darker-alt-bg-color: #4f4f4f !default;
$link-color: #42a5f5 !default;