{% extends 'base.html.twig' %}

{% block title %}URL Shortener{% endblock %}

{% block content %}
    <section {{ react_component('UrlShortener') }} class="container centered"></section>
{% endblock %}