{% extends 'base.html.twig' %}

{% block title %}URL Shortener{% endblock %}

{% block content %}
    <section class="container centered" data-controller="url-shortener">
        {% include 'partials/_form.html.twig' %}
    </section>
{% endblock %}
